.form {
  display: flex;
  position: relative;
}

.button {
  align-self: center;
  background: none;
  border: 1px solid hsl(234, 11%, 52%);
  border-radius: 50%;
  height: 25px;
  margin-left: 20px;
  outline: none;
  position: absolute;
  width: 25px;
}

.button.light {
  border: 1px solid hsl(233, 11%, 84%);
}

.input {
  background-color: hsl(235, 24%, 19%);
  border: none;
  border-radius: 10px;
  color: hsl(233, 11%, 84%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  height: 60px;
  padding: 15px 15px 15px 60px;
  width: 100%;
}

.input.light {
  color: hsl(235, 19%, 35%);
  background-color: hsl(0, 0%, 98%);
}
